* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

ul {
    list-style-type: none;
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    z-index:10;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

.bg-image {
    position: absolute;
    top: 0px;
    left: 0px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bg-content {
    float: left;
    padding-top: 25vh
}

.my-photo {
    height: 300px;
    width: 300px;
}

.front-bg {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    height: 100vh;
    width: auto;
}


.me-name {
    font-family: 'Coustard', serif;
    font-size: 40px;
/*    color: #86A3B8;*/
}

hr {
    border: 1px solid #86A3B8;
}

.job-title {
    font-family: 'Water Brush', cursive;
/*  font-family: 'Coustard', serif;*/
    font-size: 30px;
    color: #E8D2A6;
}

.personal-desc {
    font-family: 'Overpass', sans-serif;
    color: #E8D2A6;
}

.prof-content {
    float: left;
    padding-top: 25vh
}

.who-me {
    font-family: 'Coustard', serif;
    color: #5d8ea6;
}



.bg-profile {
    position: absolute;
    height: 950px;
    width: 100%;
    object-fit: cover;
}




.proj-current {
   font-family: 'Coustard', serif;
    padding-bottom: 20px;
    text-align: center;
}

.bg-more-about-me {
    width: 100vw;
    margin: 0px;
}
 
.bg-project2 {
/*    background-image: url("./images/bg webdev.jpg");*/
    /*height: 100vh;
    width:auto;*/
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.scroll-click {
    font-family: 'Overpass', sans-serif;
    font-size: 24px;
    color: #E8D2A6;
    padding-top: 50px;
    text-align: center;

}

.zindex-2 {
    z-index: 3;
}

.bg-contact {
    /*width:auto;*/
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.contact-how {
    padding-top: 150px;
    padding-bottom: 50px;
}

.bg-foot { 
    background-color: #333333;  
    margin: 0px;
    width:100%;
    height: 60px;
    align-items: ;
}